body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../../public/Screenshot\ from\ 2024-12-10\ 22-54-10.png'); 
    background-size: cover;
    background-position: center;
  }
  
  .login-content {
    background: rgba(255, 255, 255, 0.8);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
  }
  
  h2 {
    margin-bottom: 1rem;
    color: #333;
  }
  
  button {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  